﻿<ion-view view-title="{{product.name}}">
    <ion-content>
        <div class="list card" ng-repeat="image in product.images">
            <div class="item item-image">
                <img class="full-image" ng-src="{{image.image}}" />
            </div>
            <div class="item">
                <p>{{image.kind}}</p>
            </div>
        </div>

        <div class="list card">
            <div class="item item-image" ng-click="addImage()">
                <img class="full-image"  src="img/addphoto.png" />
            </div>
        </div>
    </ion-content>
</ion-view>
