﻿<input type="number" ng-model="data.cost" placeholder="Укажите цену">
<ion-list>
    <ion-radio ng-model="data.current_adr" ng-value="adr" ng-repeat="adr in data.adrs">{{adr.name}}</ion-radio>    
</ion-list>