﻿<ion-view view-title="Каталог" >
    <ion-header-bar class="bar bar-subheader">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Поиск по названию" ng-model="query" ng-model-options="{ debounce: 1000 }">
        </label>
    </ion-header-bar>
  <ion-content class="has-search-subheader">

      <ng-include src="'templates/scan_form.html'" ng-if="products.length == 0"></ng-include>
      <ng-include src="'templates/products_list.html'" ng-if="products.length > 0"></ng-include>
  </ion-content>
</ion-view>
