﻿<ion-view view-title="{{product.name}}">
  <ion-content delegate-handle="mainScroll"> 

      <ion-refresher pulling-text="Потяни для обновления..."
                     on-refresh="doRefresh()"
                     ng-if="product && product.id">
      </ion-refresher>

      <div class="list card" ng-if="product && product.id">
          <div class="item item-avatar">              
              <h2 ng-bind="product.name" ng-if="product.name.length > 0"></h2>
              <p ng-bind="product.barcode"></p>
          </div>

          <div class="item item-body positive" ng-if="!product.name || product.name.length == 0">
              Данный товар находится на модерации, более детальная информация появится позже. Спасибо!
          </div>

          <div class="item" href="#">                      
              <button class="button button-block button-balanced" ng-click="updatePrice()">
                <div ng-if="product['last-prices'].length > 1">
                    {{product.minPrice().cost | currency}} - {{product.maxPrice().cost | currency}}
                </div>
                <span ng-bind="product['current-price'].cost | currency" ng-if="product['last-prices'].length == 1"></span>
                <span ng-if="!product['current-price']">Укажите текущую цену</span>
              </button>
          </div>

          <div class="item item-body">
              <a href="#/app/products/{{product.id}}/images"><img class="full-image" ng-src="{{product['promo-image'].image}}" ng-if="product['promo-image']"></a>
              <p ng-bind-html="product.description"></p>
              <div ng-if="product.composition && product.composition.length > 0">
                  <h3>Состав:</h3>
                <ul>
                    <li ng-repeat="item in product.composition">{{item}}</li>
                </ul>
              </div>
              
              <div ng-if="product.protein > 0">
                  <div class="row header">
                      <div class="col">Белки</div>
                      <div class="col">Жиры</div>
                      <div class="col">Углеводы</div>
                      <div class="col">Ккал</div>
                  </div>
                  <div class="row">
                      <div class="col">{{product.protein}} г</div>
                      <div class="col">{{product.fats}} г</div>
                      <div class="col">{{product.carbs}} г</div>
                      <div class="col">{{product['food-value']}}</div>
                  </div>
              </div>
              

              <p>
                  <a href="#" class="subdued">1 Like</a>
                  <a href="#" class="subdued">5 отзывов</a>
              </p>
          </div>
      </div>

      <div class="list card" ng-if="product && !product.id">
          <div class="item item-avatar">
              <h2>{{product.barcode}}</h2>
          </div>
          <div class="item item-body">              
              Товар который вы ищите не найден, но вы можете быть первым кто добавит его.
          </div>
          <div class="item item-body">Для этого выполните несколько шагов:</div>
          <label class="item item-input item-floating-label">
              <span class="input-label">Цена в магазине</span>
              <input type="number" placeholder="Укажите цену" ng-model="product.new_cost">
          </label>
          <div class="item">{{current_spinner}}Сделайте снимок лицевой стороны:</div>
          <div class="item item-image" ng-click="addImage('promo')">              
              <div ng-if="current_spinner == 'promo'" class="padding">
                  <ion-spinner></ion-spinner>
              </div>
              <img class="full-image" ng-src="{{images['promo'] || 'img/addphoto.png'}}" ng-if="current_spinner != 'promo'"/>
          </div>
          <div class="item">Снимок состава:</div>
          <div class="item item-image" ng-click="addImage('back')">
              <div ng-if="current_spinner == 'back'" class="padding">
                  <ion-spinner></ion-spinner>
              </div>
              <img class="full-image" ng-src="{{images['back'] || 'img/addphoto.png'}}" ng-if="current_spinner != 'back'"/>
          </div>

          <div class="item">
              <button class="button button-block button-positive" ng-click="complete()">
                  <i class="ion ion-checkmark"></i>
                И подтвердить
              </button>
          </div>          
      </div>
  </ion-content>
</ion-view>
