﻿<div class="card lsit" ng-controller="ScanCtrl">
    <h3 class="item">Или отсканируйте штрих-код</h3>
    <button class="button button-block item" ng-click="scan()"><img src="img/barcode_scanner.png" /></button>
</div>
