﻿<ion-view >
    <ion-nav-title>
        <i class="icon ion-search"></i> Поиск
    </ion-nav-title>
    <ion-content>

        
        <ng-include src="'templates/scan_form.html'"></ng-include>
                
    </ion-content>
</ion-view>
